<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet"  href="static/css/pg.css"> 
</head>
<body>
    <h1>Home Page</h1>
    <h5>This is Home Page</h5>
      <img src="static/image/wallpaper.jpg" alt="pic1"/> 
     <!-- <img src="image/wallpaper.jpg" alt="pic1"> -->
    <script src="static/js/javascr.js"></script>
</body>
</html>